rvm:
  - 1.9.3
  - 2.0.0

env:
  - RAILS=3-2-stable DB=sqlite
  - RAILS=3-2-stable DB=mysql
  - RAILS=3-2-stable DB=postgres
  - RAILS=3-1-stable DB=sqlite
  - RAILS=3-1-stable DB=mysql
  - RAILS=3-1-stable DB=postgres
  - RAILS=3-0-stable DB=sqlite
  - RAILS=3-0-stable DB=mysql
  - RAILS=3-0-stable DB=postgres
