language: ruby

sudo: false

rvm:
  - 2.6.0

services:
  - mysql

env:
  - RAILS=6-0-stable DB=sqlite3
  - RAILS=6-0-stable DB=mysql
  - RAILS=6-0-stable DB=postgres

  - RAILS=v6.0.0 DB=sqlite3
  - RAILS=v6.0.0 DB=mysql
  - RAILS=v6.0.0 DB=postgres

  - RAILS=5-2-stable DB=sqlite3
  - RAILS=5-2-stable DB=mysql
  - RAILS=5-2-stable DB=postgres

  - RAILS=v5.2.1 DB=sqlite3
  - RAILS=v5.2.1 DB=mysql
  - RAILS=v5.2.1 DB=postgres

  - RAILS=v5.2.0 DB=sqlite3
  - RAILS=v5.2.0 DB=mysql
  - RAILS=v5.2.0 DB=postgres

  - RAILS=5-1-stable DB=sqlite3
  - RAILS=5-1-stable DB=mysql
  - RAILS=5-1-stable DB=postgres

matrix:
  allow_failures:
    - env: RAILS=5-2-stable DB=sqlite3
    - env: RAILS=5-2-stable DB=mysql
    - env: RAILS=5-2-stable DB=postgres
before_script:
  - mysql -e 'create database ransack collate utf8_general_ci;'
  - mysql -e 'use ransack;show variables like "%character%";show variables like "%collation%";'
  - psql -c 'create database ransack;' -U postgres

addons:
  code_climate:
    repo_token: 8b701c4364d51a0217105e08c06922d600cec3d9e60d546a89e3ddfe46e0664e
  postgresql: "9.6"
